<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group5.fitme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitMe">
        <activity
            android:name=".bmiC"
            android:exported="false" />
        <activity
            android:name=".timer15"
            android:exported="false" />
        <activity
            android:name=".timer14"
            android:exported="false" />
        <activity
            android:name=".timer13"
            android:exported="false" />
        <activity
            android:name=".timer12"
            android:exported="false" />
        <activity
            android:name=".timer11"
            android:exported="false" />
        <activity
            android:name=".timer10"
            android:exported="false" />
        <activity
            android:name=".timer9"
            android:exported="false" />
        <activity
            android:name=".timer8"
            android:exported="false" />
        <activity
            android:name=".timer7"
            android:exported="false" />
        <activity
            android:name=".timer6"
            android:exported="false" />
        <activity
            android:name=".timer5"
            android:exported="false" />
        <activity
            android:name=".timer4"
            android:exported="false" />
        <activity
            android:name=".timer3"
            android:exported="false" />
        <activity
            android:name=".timer2"
            android:exported="false" />
        <activity android:name=".timer1" />
        <activity android:name=".btn15" />
        <activity android:name=".btn14" />
        <activity android:name=".btn13" />
        <activity android:name=".btn12" />
        <activity android:name=".btn11" />
        <activity android:name=".btn10" />
        <activity android:name=".btn9" />
        <activity android:name=".btn8" />
        <activity android:name=".btn7" />
        <activity android:name=".btn6" />
        <activity android:name=".btn5" />
        <activity android:name=".card5" />
        <activity android:name=".card3" />
        <activity android:name=".card4" />
        <activity android:name=".card2" />
        <activity
            android:name=".navdrawer"
            android:label="@string/title_activity_navdrawer"
            android:theme="@style/Theme.FitMe.NoActionBar" />
        <activity android:name=".cardview" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity android:name=".Login" />
        <activity android:name=".MyBMI" /> <!-- <activity android:name=".BMI" /> -->
        <activity android:name=".Timer" />
        <activity android:name=".btn4" />
        <activity android:name=".btn3" />
        <activity android:name=".btn2" />
        <activity android:name=".btn1" />
        <activity android:name=".nextpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>